<!--The content below is only a placeholder and can be replaced.-->


<div class = "container-fluid">
  <div style="text-align:center">
    <h2 style = "font-style: italic">Welcome to Assignment No 15</h2>
  </div>

  <form><h4 style = "font-style: italic">
     <Div>
         <label>1. &nbsp; Reverse String of {{Name}} :</label> &nbsp;
         <label>{{Name | myRev}}</label>
     </Div>

     <Div>
         <label>2. &nbsp; Addition of Number :</label> &nbsp;
         <label>{{Myno | myAdd : 9}}</label>
     </Div>

     <Div>
         <label>3. &nbsp; Multipication of Number :</label> &nbsp;
         <label>{{Myno | myMult : 9}}</label>
     </Div>

     <Div>
          <label>4. &nbsp; {{Myno}} :</label> &nbsp;
          <label> {{Myno | myChk : 'Prime'}} </label>
     </Div>

      <Div>
          <label>5. &nbsp; {{Myno}} :</label> &nbsp;
          <label> {{Myno | myChk : 'Perfect'}} </label>
      </Div>

      <Div>
           <label>6. &nbsp; {{Myno}} :</label> &nbsp;
           <label> {{Myno | myChk : 'Even'}} </label>
      </Div>

      <Div>
          <label>7. &nbsp; {{Myno}} :</label> &nbsp;
          <label> {{Myno | myChk : 'Odd'}} </label>
      </Div></h4>
 </form>
</div>